body {background-color:#000; color:#FF0; }
a {color:#FF0;}
#header {background:#000 url(../i/contrast/banner.png);}
hr {border-bottom:solid 1px #FF0;}

/*  */
#content a:link {text-decoration: none; color:#FF0; border-bottom: dashed 1px #FF0;}
#content a:visited {text-decoration: none; color:#FF0; border-bottom: dashed 1px #FF0;}
#content a:visited:hover {border-bottom:solid #FF0 1px;}
#content a:active, #content a:focus {border-bottom: solid 1px #FF0;}
#content a:hover {border-bottom:solid #FF0 1px;}

/*  navigation  */
#navigation ul li a {color:#FF0; background-color:#000; border-left:solid 3px #333;}
#navigation ul li a:hover, #navigation ul li a:focus {color:#FF0; background-color:#111; border-left:solid 3px #FF0;/*for yellow only*/ text-decoration:underline;}
#navigation ul li a.active {background-color:#111; border-left:solid 3px #FF0;}


.box, .box2, .box3 {color:#FF0; 
	background:#333 url(../i/contrast/gradient.png) bottom repeat-x;}

.openform {background-color:#333;}
/* content */
img.thumb { border: solid 2px #FF0;}


/* ***** For colorbox  ***** */
#content ul.imageGallery li a {border-bottom:none;}
#content ul.imageGallery li a:link img {border: solid 2px #333;}
#content ul.imageGallery li a:visited img {border: solid 2px #333;}
#content ul.imageGallery li a:hover img, #content ul.imageGallery li a:focus img, #content ul.imageGallery li a:active img {border: solid 2px #FF0;}

/* footer */
#footer {border-top: solid #FF0 1px;}