/********************
* Media queries
* >720 		= desktop view
* >620 720< = tablet view
* <620 		= phone view
********************/

/********************
* Global styles - applies to all widths 
* includes font family, colour etc
********************/
* {padding:0; margin:0;}
body {line-height:1.4em;}
body {background-color:#F9F9F9; color:#000; }
/* Font size */
html {font-size: 62.5%;} 
body {font-size: 1.6rem;} /* =16px */
h1   {font-size: 3.2rem;} /* =32px */


/* Font family */
body {font-family: Arial, Helvetica, sans-serif;}
h1, h2 {font-family: georgia, serif; 
	}

/********************
* Headings - layout
********************/
h1 {padding:0 0 1rem 0;
	font-weight: normal;
	color:#1D88AF;
	}
h2 {	padding:0.2rem 0 0.2rem 0;
	font-weight: normal; 
	color:#1D88AF;
	clear:left;
	}
h3, h4 {clear:left;}


hr {border-bottom:solid 1px #1D88AF;}
h1, h2 {}

/********************
* Colour Map
* Background 	= #F9F9F9	rgb(249, 249, 249)
* Text 			= #000000	rgb(0, 0, 0) 
* Headings 		= #1D88AF	rgb(29, 136, 175)
* Header/Footer = #0099CC 	rgb (0, 153, 204)
* Dark blue 	= #166683	rgb(22, 102, 131)
* Medium blue 	= #85CEE7	rgb(133, 206, 231)
* Light blue 	= #AADDEE	rgb(170, 221, 238)
********************/

/*  navigation  */
nav ul li a {border: solid 1px #ADE;
	}
nav ul li a {color:#333; background-color:#ADE; 
	}
nav ul li ul li a {color:#333; background-color:#D0EDF5; 
	}
nav  ul li a:hover, #navigation ul li a:focus {color:#333; background-color:#85CEE7; 
	}
nav  ul li a.active,
nav ul li a.active:hover {background-color:#166683; color:#FFF;
	}

/********************
* Header + Footer
********************/
header, footer {
	background: linear-gradient(#0099cc, #2e7c99);
	color:#FFF;
	}
header form {margin:0.5rem;}
header form label {display:none;}
footer a {color:#FFF;}
footer {font-size: 1.2rem; /* 12px */}

/********************
* Desktop view
********************/
@media (min-width: 720px) {

header {max-width:960px; 
	height:110px; 
	margin:0.5rem auto;
	background-image:url(../img/furniture/banner.png), linear-gradient(#0099CC, #2E7C99);
	background-repeat: no-repeat;
	border-radius: 6px;}
header p strong {
	margin:-9999px 0 0 0;
	position: absolute;
	height: 1px;
	width: 1px;
	left: -999px;
	top: -999px;
}

header form {float:right; display:inline; padding:2px 0 4px 0;}
#q {width:18rem;}
.top, #wrapper {max-width:960px; margin:0 auto; overflow:hidden; display:block;}



/*
use .normal for most pages
use .wide for calendar page or any other instance where you need a wider page at the expense of readability.
Then use CSS subselectors to hide and show rightcolumn and change width of content area.
*/
#page {width:78%; float:right; margin:10px 0 10px 0;}
.wide #content {max-width:770px; float:left;}
.normal #content {max-width:520px; float:left;}
.normal #rightcolumn {float:right; width: 240px;} 
.wide #rightcolumn {display:none;}/* hides right column in wide pages */



/*  navigation  */
nav {width:20%; float:left; padding:10px 10px 10px 0;}
nav ul li {padding:3px 0 0 0;}
nav ul li a {display:block; text-decoration:none; padding:2px 2px 2px 5px;}
nav ul li ul li a {padding:2px 0 1px 10px; font-size:0.85em;}


/*  content  */

#content ul {margin:0.5em 0 0.5em 30px;} /* make left px so same in normal & wide */
#content ol {margin:0 0 0.5em 37px;}
#content ul li {padding:0 0 0.8em 0.2em;}
h2 + dl {padding:0.5em 0 0 0;}
dl dt {float: left; font-weight: bold; width:25%; clear:both; padding:0.5em 0 0.5em 0; border-top: solid #DDD 1px;}
dl dd {float: left; width:73%; padding: 0.5em 0 0.5em 1%; border-top: solid #DDD 1px;}
dl > dt:first-child, #content dl > dt:first-child + dd {border-top: none;}
/* Parish councillors list */
dd ul {margin: 0 0 0.1em 30px;}
dd ul li {padding: 0 0 0 0.2em;}
dl dd:last-of-type {margin:0 0 0.8em 0;}

/* ****** Global links styles ****** */
#content a:link {text-decoration: none; color:#00F; border-bottom: dashed 1px #00F;}
#content a:visited {text-decoration: none; color:#609; border-bottom: dashed 1px #609;}
#content a:visited:hover {border-bottom:solid #609 1px;}
#content a:active, #content a:focus {border-bottom: solid 1px #00F;}
#content a:hover {border-bottom:solid #00F 1px;}
#content a.noUnderline {border-bottom:none;}
a img {border:none;}

ul.doc li {list-style-image: url(../img/word.gif); padding:0 0 1em 0.2em;}
ul.pdf li {list-style-image: url(../img/pdf.gif); padding:0 0 1em 0.2em;}

p {padding:0 0 1em 0;}
hr {clear:both; padding:1em 0 0 0; border:none;}
hr + p {padding-top:1em;}
img.thumb {float:left; margin: 2px 10px 4px 0;}
img.icon {float:left; margin: 0 5px 5px 0;}
a img.icon {border:none;}
sup, sub {font-size:70%;}
sup {vertical-align:top;}

table {margin:0 0 10px 0;}
td, th {text-align:left; vertical-align:top; padding:5px;}
table th, table td {border: solid 1px #DDD;}
td.number {text-align:right;}

/* split into columns */
div.double {float:left; width:49%; display:block;}
div.double p,
div.double address {margin: 10px 10px 0 0;}
/* split lists into columns */
ul.double {width:99%; }
ul.double li {float:left; width:45%;}

/* ordered lists */
ol.a  {list-style-type: lower-alpha;}
ol.i {list-style-type: lower-roman;}


/* Forms */
legend {padding:5px 5px 10px 5px; font-weight:bold;}
label:after {content:":";}
label.error {color:#F00;}
select {padding:2px 0;}
#rightcolumn form {margin:5px;}
#rightcolumn form input {margin:5px 0 0 0; width:155px;}
#rightcolumn form textarea {margin:5px 0 0 0; width:95%;}
#rightcolumn form select {margin:0 0 5px 0;}
#rightcolumn label {clear:both; float:left; padding:5px 5px 0 0; width:60px; }
#rightcolumn label.wide {width:200px;}
#rightcolumn label.error {padding:0 0 5px 65px; width:140px; font-size:90%;}

#rightcolumn #submit {float:left; margin:5px 0 0 0; width:75px;}
#rightcolumn #reset {float:left; margin:5px 0 0 5px; width:75px;}
	
#content form {margin:5px; padding:0 0 60px 0;}
#content form input {margin:5px 0 5px 0; width:88%; clear:left; }
#content form textarea {margin:5px 0 5px 0; width:88%;}
#content label {clear:both; float:left; padding:5px 5px 0 0; width:10%;}
#content label.wide {width:90%;}
#content label.error {float:left; width:90%; padding:5px 0; font-size:90%}
#content #submit,
#content #reset {float:left; margin:5px 0 10px 0; width:80px;}
#content #reset {clear:none;}

#content .box2 form textarea, 
#content .box2 form input {width: 90%}

.requiredField {color:#F00;}

/* radio and checkboxes*/	
#content form input[type=radio], 
#content form input[type=checkbox] {width:50px; float:left; }
#content form fieldset label {float:left; min-width:450px; clear:none;}
#content form fieldset label:after {content:"";}
#content form fieldset {border: none;}
#content  form fieldset label.error {float:none;}
blockquote {margin-left: 10px;}


.openform {
	float:left; 
	width:99%;
	padding:1em 0 1em 5px;
	margin:10px 0 0 0;
	border-radius:5px; 
	background-color:#DDD;}

.openform a {color:#000; background:#FFF url(../i/arrow.gif) no-repeat 0% 50%; width:200px; display: block; margin:0 auto; padding:2px 0 2px 20px; text-decoration:none;}
.openform a:hover, .openform a:focus {text-decoration:underline;}

/* Boxes */
.boxrow2, .boxrow3 {
  display: flex;
	}
.box {
	margin:0 10px 10px 0; 
	border:solid 1px #DDD;
	border-radius:5px;
	background:linear-gradient(#DDDDDD, #D0D0D0);
	box-sizing: border-box;
	flex: 0 0 auto;
	}
.boxrow3 .box {width:31.5%;}
.boxrow2 .box {width:48%;}
.box:last-child {
    margin:0 0 10px 0;
	} 

.box h2 {margin:0 3px; padding:0 0 0 2px; border-bottom:solid 1px #CCC;}
.box p {padding: 5px;}
.box h3 {padding: 2px 0px 0 5px;}
.box a img {border:none;}
.box dl dt {clear:both; 
	padding:0 0 0 5px; 
	font-weight:normal; 
	border: none;
	width:44%;
	}
.box dl dd {padding:0 0 2px 5px; 
	border: none;
	width:51%;
	}


/* Christmas only */

#content .box h2.xmas-star {background: transparent url(../i/icons/christmas-star.png) no-repeat 0 50%; line-height:41px; padding-left:43px;}
#content .box h2.xmas-line {line-height:41px;}

/* Boxes - right column */
#rightcolumn .box {margin:0;}
.box3.last, .box2.last, box {margin-right:0;}
.last + * {clear:both;}

/* Contact us page */
#map_canvas {height:350px;}
#content address {font-style:normal; padding:0 5px;}

/* Accessibility page */
#content table.switch-icons ul {margin:0; padding:0;}
#content table.switch-icons ul li {width:20px; height:20px; margin:0 2px 0 0; list-style-type: none;}
#content table.switch-icons ul li a {border-bottom:none; display:block; float:left; width:20px; height:20px; margin:0;}
#content table.switch-icons ul li a span {visibility:hidden; position:absolute; top:-999px}


/* ***** For colorbox  ***** */
#content ul.imageGallery {margin:10px 0;}
#content ul.imageGallery li {float:left; padding:6px 2px 0 0; list-style-type:none;}

#content ul.imageGallery + * {clear:both;}

/* Ad hoc utilities */
.clear {clear:both;}
.right {float:right;}

/* footer */
footer {clear:both; max-width:960px; min-height:60px; margin:10px auto; overflow:hidden; border-radius:6px;
	}
footer ul {margin:10px 0 0 190px; padding:0 0 10px 0; clear:left;}
footer ul li {list-style-type: none; float:left; width:26%;}
footer ul li:first-child {width:20%;}
footer p.copyright {margin:0 0 5px 190px; padding:5px 0 0 0;}

/*********************************/
/*********** colours *************/





/* content */
img.thumb { 
	border: solid 2px #1D88AF;
	border-radius:2px;
	box-shadow: #CCC 3px 3px 2px;}
/* tables */
th {
	background-color:#85CEE7;
	background: linear-gradient(#ADE, #85CEE7);
	}
tr:nth-child(odd) {
	background: #E0E0E0;
	}
/* boxes */
.box.highlight, .box3.highlight {
	background:linear-gradient(#0099CC, #2E7C99); 
	color:#FFF;
	}
.box.highlight h2, .box3.highlight h2 {
	color:#FFF; 
	border-bottom:solid 1px #BBB;
	}
#content .box3.highlight a {
	color:#FFF;
	}

/* ***** For colorbox  ***** */
#content ul.imageGallery li a {border-bottom:none;}
#content ul.imageGallery li a:link img {border: solid 2px #FFF;}
#content ul.imageGallery li a:visited img {border: solid 2px #FFF;}
#content ul.imageGallery li a:hover img, #content ul.imageGallery li a:focus img, #content ul.imageGallery li a:active img {
	border: solid 2px #1D88AF;
	}



}/* end desktop media view */

/********************
* Mobile view
********************/
@media (max-width: 620px) {
.has-js nav {position:absolute;
	top:0.5rem;
	right:0.5rem;
	overflow:hidden;
	height:2rem;
	width:5rem;
	}
.has-js nav:focus {
	overflow:visible;
	}

}

/*********************************/
@media print {
#navigation, .top, #footer, #header {display:none;}
#page #content {width:17cm; margin:0 10px 0 -140px;}
.box3 {width:30%;}
.box2 {width:45%;}
}